:root {
  --primary-color: #4b88a2; /* Air Force Blue */
  --secondary-color: #9118ed; /* Purple */
  --tertiary-color: #ed254e; /* pink red */
}

.toast-icon {
  height: 100%;
}

.icon {
  height:3rem;
  width: 3rem;
  margin-right: 1rem;
  color: white;
}

.text {
  color: white;
}

.toast {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  right: -500px;
  background-color: black;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: 5px solid var(--tertiary-color);
  opacity: 0%;
  transition: all 0.25s ease-out;
}

.show-toast {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.toast-active {
  right: 80px;
  opacity: 100%;
}

.close-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
}

@media (max-width: 767px) {
  .toast {
    right: 20px;
    bottom: 20px;
    top: auto;
  }
}
