:root {
  --primary-color: #4b88a2; /* Air Force Blue */
  --secondary-color: #9118ed; /* Purple */
  --tertiary-color: #ed254e; /* pink red */
}

.navbar {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  display: flex;
}

a {
  padding: 10px;
  color: white;
  border: solid 1px var(--secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  background-color: #4a097b;
  border-color: #4a097b;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .navbar {
    justify-content: space-evenly;
  }

  li {
    margin-left: 12px;
  }
}
